<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TANCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TANCalendarToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>141167E81F43041D00907E7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1456B0311EEE99C500E4BFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1456B04A1EEE99C500E4BFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1456B0551EEE99C500E4BFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
